{% extends 'base.html' %}


{% block head_title %}
Django Home
{% endblock head_title %}


{% block body_content %}
<div class='row text-center'>
    <div class="col">
        <h2>Welcome to TweetMe</h2>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" method="POST" action="/tweets/create_tweet">
            {% csrf_token %}
            <div class="d-none alert alert-danger" id="create-form-error">

            </div>
            <input type="hidden" name="next" value="/">
            <textarea required class="form-control" name="content" placeholder="Your Tweet...."></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

<div id="tweets"></div>


<script>
    function handleTweetFormError(msg, display) {
        var errorDiv = document.getElementById("create-form-error")
        if (display == true) {
            errorDiv.setAttribute("class", "d-block alert alert-danger")
            errorDiv.innerHTML = msg
        } else {
            // hide error
            errorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }

    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault();
        const myForm = event.target;
        const myFormData = new FormData(myForm);

        const url = myForm.getAttribute("action");
        const method = myForm.getAttribute("method");

        const xhr = new XMLHttpRequest();
        const responseType = "json";
        xhr.responseType = responseType
        xhr.open(method, url);
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.onload = () => {
            if (xhr.status == 201) {
                var serverResponse = xhr.response;
                // console.log(serverResponse);
                var newTweetElement = serverResponse;
                var ogElement = tweetsContainerELement.innerHTML
                tweetsContainerELement.innerHTML = formatTweetElement(newTweetElement) + ogElement;
                myForm.reset();
                handleTweetFormError("", false);
            } else if (xhr.status == 400) {
                handleTweetFormError(xhr.response.content, true);
            } else if (xhr.status == 403) {
                handleTweetFormError("You must Login", true);
                window.location.href = "/login"
            } else if (xhr.status == 500) {
                console.log("there was a server error")
            }
        }
        xhr.send(myFormData);
    }

    const tweetsContainerELement = document.getElementById('tweets');
    const tweetCreateFormEl = document.getElementById('tweet-create-form')

    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)

    function loadTweets(tweetsElements) {
        const xhr = new XMLHttpRequest();
        const method = "GET";
        const url = "/tweets/list";
        const responsType = "json";

        xhr.responseType = responsType;
        xhr.open(method, url, true);

        xhr.onload = () => {
            if (xhr.readyState == 4) {
                var serverResponse = xhr.response;
                var listItems = serverResponse.response;

                var finalTweetStr = "";
                for (var i = 0; i < listItems.length; i++) {
                    finalTweetStr += formatTweetElement(listItems[i]);
                }
                tweetsElements.innerHTML = finalTweetStr;
            }
        }
        xhr.send();
    }

    loadTweets(tweetsContainerELement);

    function handleDidLike(tweet_id, currentCount) {
        console.log(currentCount);
    }

    function linkBtn(tweet) {
        return "<button class='btn btn-primary' onclick=handleDidLike(" + tweet.id + "," + tweet.likes +
            ")> " +
            tweet.likes + " Likes</button>";
    }

    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto rounded border p-3 mb-2 tweet' id=tweet-" + tweet
            .id +
            "><p>" +
            tweet
            .content + "</p>" +
            "<div class='btn-group'>" + linkBtn(tweet) + "</div></div>";
        return formattedTweet;
    }

    console.log("here")
</script>

{% endblock body_content %}